# BSC
BSC_RPC=https://bsc-dataseed.binance.org
BSC_RELAYER_PK=0xPRIVATE_KEY
BSC_BRIDGE_ADDRESS=0x...

# TRON
TRON_FULL_NODE=https://api.trongrid.io
TRON_SOLIDITY_NODE=https://api.trongrid.io
TRON_EVENT_SERVER=https://api.trongrid.io
TRON_RELAYER_PK=PRIVATE_KEY
TRON_TOKEN_ADDRESS=T...

# Logging
LOG_LEVEL=info
